<section class="todoapp ng-scope">
  <header class="header">
    <h1>todos</h1>
    <input
      class="new-todo"
      placeholder="What needs to be done?"
      [value]="text"
      (keyup)="changeText($event)"
      (keyup.enter)="onAddTodo()"
      autoFocus
    />
  </header>
  <section class="main" [ngClass]="{ hidden: isVisible$ | async }">
    <input
      id="toggle-all"
      class="toggle-all ng-pristine ng-untouched ng-valid"
      type="checkbox"
      [checked]="isAllTodoSelected$ | async"
    />
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list"></ul>
  </section>
</section>
